*{
    margin:0;
    padding:0;
}

html, body {
    margin : 0;
    height: 90%;
    width: 100%;
    
} 

.back{
    position: relative;

}

.contain{
    border: 1px white solid;    
    /* background-color: #f2f7ff; */
}