.Header {
  height: 60px;
  text-align: center;
  background-color: white;
}
.Footer {
  margin-top: 8px;
  font-size: 12px;
}
.Sidebar {
  height: 100vh;
}
.sidebar-profile {
  text-align: center;
}
