#sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: absolute;
  width: 200px;
  left: 0px;
  bottom: 0px;
  top: 80px;

  background: #0b409c;
}

#info {
  padding-left: 250px;
}

#calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  left: 960px;
  top: 310px;
}

#box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 20px;

  width: 600px;
  height: 120px;
}
