.questioner {
  height: 1600px;
  background-color: #f2f7ff;
}
.questioner::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.question-modify {
  text-align: center;
}
.question-modify-video {
  margin: auto;
}
