.announcement-select {
  margin-top: 100px;
}

.announcement-write {
  background-color: white;
  padding: 50px;
}
.announcement-apply {
  background-color: white;
  padding: 50px;
}
#title-input {
  text-align: center;
}

#number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.post {
  background-color: #f2f7ff;
  width: 70%;
  margin: auto;
}
