.announcement-select {
  justify-content: center;
  text-align: center;
}
.announcement-write {
  width: 55%;
  margin: auto;
}
.announcement-apply {
  width: 70%;
  margin: auto;
}
#title-input {
  text-align: center;
}

#number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
